<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aliquam expedita ratione voluptatum consequatur consectetur error iste labore distinctio iure voluptatibus ab ducimus exercitationem eum, similique blanditiis enim possimus debitis?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nulla nesciunt sed recusandae iusto libero doloribus totam a similique dignissimos. Corrupti asperiores totam deleniti, eaque repellat iste magni? Autem, expedita.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, rerum animi facilis tenetur nam nostrum accusantium atque neque minima tempora repudiandae esse officia iure unde quae. Maiores necessitatibus accusamus distinctio?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque in velit nisi quis adipisci. Consequatur architecto repellat sit? Nihil perferendis fugiat tempore facere fugit magnam ipsa doloribus iste modi aliquam?
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi architecto eligendi consectetur consequatur dolor consequuntur veritatis beatae, ipsa iusto placeat, odio maiores quidem quia debitis nisi aut aperiam magni non?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum voluptatem neque earum id officia nobis at, fugit quo saepe tenetur odio error porro esse atque sit necessitatibus itaque quis magnam!
        <br/>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi velit, quas mollitia consectetur saepe cumque. Eius magnam laudantium, incidunt accusamus minus illo iste aspernatur vel tempora non enim, consequuntur saepe?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, omnis? Alias, ratione vitae? Suscipit omnis, minus deleniti quas, atque reprehenderit commodi tempore eligendi, quisquam eius facilis delectus. Quaerat, voluptatem totam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla molestias atque ea repudiandae alias. Maiores, dolor explicabo molestias fuga numquam exercitationem natus. Quisquam veniam tenetur nulla non quis praesentium ullam.
        <br/>
    </p>

</div>